html,
body {
  padding: 2rem;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  display: grid;
  place-content: center;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

pre {
  padding: 2rem;
  background-color: #1d1d1f;
  color: #ffff;
}

img {
  border-radius: 50%;
}
